body {
  width: 100vw;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
  text-decoration: none;
}

p {
  font-size: 20px;
  line-height: 30px;
}

nav {
  background-color: #001122;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 80px;
  margin: 0;
  padding: 0;
}

.navToggle {
  width: 100vw;
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid white;
  padding: 13px 0 17px 0;
}

.navToggle:hover {
  background-color: #225588;
  color: orange;
}

.navBtn {
  background-color: transparent;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: none;
  padding: 10px 20px; 
}

.navBtn:hover {
  background-color: rgba(255,255,255,0.2);
  color: white;
}

.banner {
  background-color: black;
  background-image: url("../images/circuits.jpg");
  color: white;
  font-family: 'Courier New', 'Courier', monospace;
  font-weight: normal;
  text-shadow: 4px 4px 4px black;
  width: vw;
  height: 150px;
  padding: 30px 50px 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.banner h1 {
  font-size: 90px;
  margin: 0;
  padding: 5px;
  line-height: 90px;
}

.banner h3 {
  background-color: rgba(0,0,0,0.4);
  font-size: 25px;
  border-radius: 20px;
  margin: 0;
  padding: 5px 20px;
}

main {
  padding: 50px;
}

.mainRow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.mainPic {
  border-radius: 50%;
  margin: 30px;
  max-height: 550px;
  width: auto;
  height: auto;
}

.projPic {
  max-width: 100%;
  max-height: 450px;
  width: auto;
  height: auto;
  border-radius: 5px;
}

.projPic:hover {
  filter: brightness(50%);
}

.mainText {
  width: 50%;
  margin: 0 30px;
}

.mainBtn {
  height: 40px;
  border-radius: 10px;
  font-size: 18px;
  padding: 0 10px;
  margin: 10px;
}

.mainBtn:hover {
  background-color: #336688;
  color: white;
}

.jumpTo {
  margin: 30px 0;
}

.icons {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: space-evenly;
}

.gridItem {
  display: flex;
  flex-direction: column;
}

.icon {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin: 0 auto;
}

.iconHelper {
  width: 120px;
  height: 100px;
  text-align: center;
}

.icon:hover {
  filter: brightness(80%);
}

.hrSmall {
  display: none;
}

@media (max-width: 1100px) {
  .banner {
    height: auto;
    padding: 30px;
  }

  .banner h1 {
    font-size: 60px;
    text-align: center;
  }

  main {
    margin: 0;
  }

  .mainRow {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .mainRow.rev {
    flex-direction: column-reverse;
  }

  .mainPic {
    max-width: 200px;
    margin: 40px 0 0 0;
  }

  .projPic {
    max-height: 250px;
    max-width: 90%;
  }

  .mainText {
    width: 90%;
  }

  .mainText h1 {
    font-size: 30px;
  }

  .mainText p {
    font-size: 16px;
  }

  .icons {
    flex-wrap: wrap;
  }

 .hrSmall {
   display: block;
   margin-bottom: 30px;
 }
}

@media (max-width: 800px) {
  nav {
    flex-direction: column;
    height: auto;
  }

  nav a {
    width: 100%;
  }

  .navBtn {
    width: 100%;
    border-bottom: 1px solid white;
    padding: 30px 0;
  }
}

@media (min-width: 800px) {
  .navToggle {
    display: none;
  }
}